<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Thoughts</title>
</head>
<body>
	<nav id="navbar">
		<a href="/" id="logo"><img src="/img/logo.png" alt="logo pensador"></a>
		<ul>
			<li>
				<a href="/">Pensamentos</a>
			</li>

			{{#if session.userId}}
				<li><a href="/thoughts/dashboard">Dashboard</a></li>
				<li><a href="/logout">Logout</a></li>
			{{else}}
				<li><a href="/login">Entrar</a></li>
				<li><a href="/register">Registrar</a></li>
			{{/if}}

		</ul>
	</nav>

	<div class="container">
		{{!-- criando as flash message --}}
		{{#if messages.message}}
			<section class="message">
				{{ messages.message }}
			</section>
		{{/if}}
		{{{ body }}}
	</div>

	<footer>
		<p><span>pensadores</span>&copy;2023</p>
	</footer>
</body>
</html>
