:root{
	--background: #1c1b1b;
	--blue: #068fff;
	--white: #fff;
}
*{
 	margin: 0;
 	padding: 0;
	box-sizing: border-box;
	background-color: var(--background);
	color: var(--white);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* NAVBAR */
#logo img{
	height: 50px;
}
#navbar{
	padding: 1.2rem 1.4rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background);
	border-bottom: 2px solid var(--white);
}
#navbar ul{
	display: flex;
	list-style: none;
}
#navbar ul li{
	margin-left: 1.5rem;
}
#navbar ul li a{
	text-decoration: none;
	font-weight: bold;
	transition: .5s;
}
#navbar ul li a:hover{
	color: var(--blue);
}
/* CONTAINER */
.container{
	min-height: 70vh;
	padding: 2rem;
}
/* FOOTER */
footer{
	display: grid;
	place-items: center;
	height: 150px;
	border-top: 2px solid var(--white);
}
footer span{
	font-weight: bold;
	color: var(--blue);
}
